{% spaceless %}
    {% set aaData = {} %}
    {% for apiuser in values %}
        {% if apiuser.user.firstName is not empty %}
            {% set name = apiuser.user.firstName %}
        {% elseif apiuser.displayUsername is not empty %}
            {% set name = apiuser.displayUsername %}
        {% else %}
            {% set name = '' %}
        {% endif %}
        {% if(apiuser.challengesCount != 0 )%}
            {% set voir_paris = '<a href="'~path('apichallenge_index', {userId: apiuser.user.id})~'" ><button class="btn btn-mini btn-mini-rectif"> Voir les paris</button></a>' %}
        {% else %}
            {% set voir_paris = '<span></span>' %}
        {% endif %}
        {%
        set value = [ 
            apiuser.id,
            name,
            apiuser.phoneNumber,
            apiuser.rank,
            apiuser.challengesCount,
            apiuser.followersCount,
            apiuser.followingsCount,
            apiuser.balance,
            apiuser.getTypeString(),
            '<a href="'~path('yon_user_edit', {id: apiuser.id})~'"><button class="btn btn-mini btn-mini-rectif"> Editer</button></a>' ~ 
            '<a href="#"><button class="btn btn-mini btn-mini-rectif"> Désactiver</button></a>' ~ 
            '<a href="#"><button class="btn btn-mini btn-mini-rectif"> Bannir</button></a>' ~ 
            voir_paris
        ]
        %}
        
        {% set aaData = aaData|merge({ (loop.index0): value }) %}
    {% endfor %}
{% endspaceless %}
{% set data = data|merge({ 'aaData': aaData} ) %}
{{ data|json_encode|raw }}