{% spaceless %}
    {% set aaData = {} %}
    {% for userrank in values %}
        {% if userrank.user.firstName|trim != '' %}
            {% set name = userrank.user.firstName|trim %}
        {% elseif userrank.user.user.displayUsername|trim != '' %}
            {% set name = userrank.user.user.displayUsername|trim %}
        {% else %}
            {% set name = userrank.user.user.phoneNumber|trim %}
        {% endif %}
        {% 
        set value = [ 
            userrank.rank,
            '<a href="#"><button class="btn btn-mini btn-mini-rectif">'~userrank.user.user.id~'</button></a>',
            name,
            userrank.user.user.phoneNumber,
            userrank.user.user.followersCount,
            userrank.user.user.followingsCount,
            userrank.points
        ]
        %}
        
        {% set aaData = aaData|merge({ (loop.index0): value }) %}
    {% endfor %}
{% endspaceless %}
{% set data = data|merge({ 'aaData': aaData} ) %}
{{ data|json_encode|raw }}