{% spaceless %}
    {% set aaData = {} %}
    {% for apiChallenge in values %}
        {% set zhash = ( ( apiChallenge.hashtag is defined and apiChallenge.hashtag is not empty)? '#'~apiChallenge.hashtag.tag : '') %}
        {% set concours = '' %}
        {% for absensi in apiChallenge.contestChallenge %}
                {% set concours = absensi.contest.name %}
        {% endfor %}
        {% if apiChallenge.user.firstName|trim != '' %}
            {% set name = apiChallenge.user.firstName|trim %}
        {% elseif apiChallenge.user.user.displayUsername|trim != '' %}
            {% set name = apiChallenge.user.user.displayUsername|trim %}
        {% else %}
            {% set name = apiChallenge.user.user.phoneNumber|trim %}
        {% endif %}
        {% 
        set value = [
            apiChallenge.id,
            apiChallenge.title,
            name ,
            apiChallenge.startDate|date('d/m/Y H:i:s'),
            apiChallenge.endDate|date('d/m/Y H:i:s'),
            zhash,
            apiChallenge.betsCount,
            apiChallenge.getBetsStatistics(),
            concours,
            '<a href="javascript:;" onclick="addChallengeToContest('~apiChallenge.id~');" title="Ajouter à un councours"><i class="fa fa-plus btn-mini-rectif" aria-hidden="true"></i></a>'~
            '<a href="'~path('apichallenge_edit', { id: apiChallenge.id} )~'"><button class="btn btn-mini btn-mini-rectif"> Editer</button></a>'~
            '<a href="'~path('apichallenge_new', { duplicateFrom: apiChallenge.id} )~'"><button class="btn btn-mini btn-mini-rectif"> Dupliquer</button></a>'
        ]
        %}
        
        {% set aaData = aaData|merge({ (loop.index0): value }) %}
    {% endfor %}
{% endspaceless %}
{% set data = data|merge({ 'aaData': aaData} ) %}
{{ data|json_encode|raw }}

{# '<a href="#"><button class="btn btn-mini btn-mini-rectif"> Voir</button></a>' ~ 
 '<a href="#"><button class="btn btn-mini btn-mini-rectif"> Editer</button></a>' ~ 
 '<a href="#"><button class="btn btn-mini btn-mini-rectif"> Désactiver</button></a>' ~ 
 '<a href="#"><button class="btn btn-mini btn-mini-rectif"> Bannir</button></a>'#}